{% extends "base.html.twig" %}

{% trans_default_domain "EpsonProjectTrans" %}
{% block title %}{{ 'order.cartridge.title.index'|trans }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="example-wrapper">
            <div class="panel-body">
                <div class="row">
                    {# Panel - Filters #}
                    <div class="col-md-12 col-xs-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <a class="collapse-link" title="{{ 'link.reducePanel'|trans }}">
                                    <h5 class="text-black-50"> {{ 'order.cartridge.title.index'|trans }} </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                    </div>
                                </a>
                            </div>
                            <div class="ibox-content dataTables_wrappers">
                                {{ sg_datatables_render(datatable) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




