{% extends 'base.html.twig' %}
{% trans_default_domain "EpsonProjectTrans" %}
{% block title %}{{ "order.cartridge.title.new"|trans }}{% endblock %}
{% block menuActive_parameter %}active{% endblock menuActive_parameter %}
{% block body %}
    <h1>{{ "order.cartridge.title.new"|trans }}</h1>

    {{ include('Admin/order_cartridge/_form.html.twig') }}

    <a class="btn-warning btn" href="{{ app.request.headers.get('referer') }}"><i class="fas fa-arrow-left"></i></a>
{% endblock %}
